* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    /*width: 100%;*/
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("img/homepage.jpg");
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.navbar {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 15%;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: burlywood;
    text-transform: uppercase;
}

.hamburger {
    display: none;
    background-color: transparent;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: burlywood;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e2b853;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


.content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: burlywood;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50%;
    margin: 0 auto;
    font-size: large;
}

.content h1 {
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.content h3 {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

button {
    font-size: 25px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid burlywood;
    background: transparent;
    color: #EFC588FF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #EFC588FF;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    color: black;
    transition: 1.5s;
}

body footer {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

body footer p {
    color: #DEB887FF;
}

@media only screen and (max-width: 640px) {

    body {
        background: url(img/homepage.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .logo {
        width: 100%;
    }

    .gradiant {
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        width: 100%;
        height: 200px;
        margin-top: 40px;
        padding: 20px;
    }

    .navbar ul li a {
        font-size: 2.5vw;
    }

    .navbar ul li {
        margin-right: 5px;
    }

    .content h1 {
        color: burlywood;
        margin-bottom: 20px;
        font-size: 20px;
        text-shadow: none;
        text-decoration: underline;
    }

    .content h3 {
        color: burlywood;
        font-weight: bolder;
        margin: 10px auto;
        font-size: 14px;
        text-shadow: none;
    }

    button {
        font-size: 15px;
        width: 250px;
        text-align: center;
        font-weight: bold;
        border: 3px solid #000000;
        background: transparent;
        color: #000000;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .btn {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    body footer {
        padding: 0;
    }

    span {
        background: #000000;
    }

    button:hover {
        color: #DEB887FF;
    }
}


@media only screen and (max-width: 420px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        line-height: 2;
    }

    .navbar ul li a {
        font-size: 5vw;
    }

    .navbar ul li::after{
        height: 3px;
        bottom: -3px;
    }

    .content {
        top: 50%;
    }

    .content h1 {
        color: burlywood;
        margin-bottom: 10px;
        font-size: 20px;
        text-shadow: none;
        text-decoration: underline;
    }

    .content h3 {
        color: burlywood;
        font-weight: bolder;
        margin: 10px auto;
        font-size: 14px;
        text-shadow: none;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    span {
        background: #EFC588FF;
        height: 100%;
        width: 0;
        position: unset;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 320px) {
    .gradiant {
        padding: 5px;
        height: 160px;
    }

}




