* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    height: 100vh;
}

header {
    width: 100%;
    padding: 30px 50px;
    position: absolute;
    text-align: right;
    align-content: baseline;
}

.navbar ul {
    list-style: none;

}

.navbar ul li a {
    background-color: burlywood;
    padding: 10px 30px;
    border: 2px solid black;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(../img/homepage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 840px;
    margin: 0 auto;
}

.logo {
    float: left;
    max-width: 70px;
    cursor: pointer;
}

input {
    display: block;
    margin-bottom: 10px;
    height: 2rem;
    width: 100%;

}

::placeholder {
    color: #adaaaa;
    font-weight: bold;
}

article {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid burlywood;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75))
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.login-form {
    width: 100%;
    /*padding: 100px;*/
}

body footer {
    text-align: center;
    background-color: black;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body footer p {
    color: #DEB887FF;
}

h1 {
    color: burlywood;
}


.radio-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: burlywood;
}

.radio-container label {
    flex: 1;
}

input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    color: #1d1c1c;
    font-weight: bolder;
    font-size: 16px;
    background-color: #a5de87;
    border: 1px solid #400a69;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

input[type="gender"] {
    display: flex;
}

@media (max-width: 760px) {

    body {
        background: url(../img/homepage.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    main {
        flex-wrap: nowrap;
    }

    .navbar ul li a {
        background-color: burlywood;
        padding: 5px 10px;
        border: 2px solid black;
        text-decoration: none;
        color: #000000;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 12px;
    }

    article {
        width: 400px;
        border: none;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75))

    }

    .logo {
        width: 100%;
    }

    .login-form {
        width: 400px;
    }

    .radio-container {
        justify-content: space-around;
    }

    input[type="submit"] {
        width: 50%;
    }

    .submit {
        display: flex;
        justify-content: center;
    }

    input[type="text"] {
        width: 70%;
        align-content: center;
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }

    input[type="tel"] {
        width: 70%;
        margin: 10px auto;
    }

    input[type="email"] {
        width: 70%;
        margin: 10px auto;
    }

    h1 {
        text-align: center;
    }

    body footer {
        padding: 0;
    }
}

@media (max-width: 420px) {

    article {
        padding: 0;
        width: 100%;
        border: none;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75))

    }

    header{
        padding: 10px;
    }
    .login-form {
        width: 70vw;
    }

    input[type="submit"] {
        width: 50%;
        padding: 10px;
    }

    .input-text {
        font-size: 12px;
    }

    .submit {
        display: flex;
        justify-content: center;

    }

    h1 {
        text-align: center;
        font-size: 18px;
    }

}

